html {
  color: #321b2d;
}

h1, h2, h3, h4, h5, h6 {
  color: #0d6a73;
}

code, pre {
  background-color: #e6b3da;
  color: #1b3032;
}

pre {
  background-color: #1b3032;
  color: #f4f1f3;
}

a:link {
  color: #0d6a73;
}

a:visited {
  color: #730d5d;
}

.text-lead {
  color: #730d5d;
}

.bgcolor-primary-offwhite {
  background-color: #f1f3f4;
  color: #321b2d;
}

.bgcolor-primary-light {
  background-color: #b3e1e6;
  color: #321b2d;
}

.bgcolor-primary-bright {
  background-color: #1ad5e6;
  color: #321b2d;
}

.bgcolor-primary-dim {
  background-color: #0d6a73;
  color: #f4f1f3;
}

.bgcolor-primary-dark {
  background-color: #1b3032;
  color: #f4f1f3;
}

.bgcolor-secondary-offwhite {
  background-color: #f4f1f3;
  color: #1b3032;
}

.bgcolor-secondary-light {
  background-color: #e6b3da;
  color: #1b3032;
}

.bgcolor-secondary-bright {
  background-color: #e61ab9;
  color: #1b3032;
}

.bgcolor-secondary-dim {
  background-color: #730d5d;
  color: #f1f3f4;
}

.bgcolor-secondary-dark {
  background-color: #321b2d;
  color: #f1f3f4;
}

.bgcolor-grey-offwhite,
.bgcolor-gray-offwhite {
  background-color: #f2f2f2;
  color: #262626;
}

.bgcolor-grey-light,
.bgcolor-gray-light {
  background-color: #cccccc;
  color: #262626;
}

.bgcolor-grey-bright,
.bgcolor-gray-bright {
  background-color: gray;
  color: #0d0d0d;
}

.bgcolor-grey-dim,
.bgcolor-gray-dim {
  background-color: #404040;
  color: #f2f2f2;
}

.bgcolor-grey-dark,
.bgcolor-gray-dark {
  background-color: #262626;
  color: #f2f2f2;
}

@font-face {
  font-family: "PT Sans";
  src: url("fonts/PTS55F-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("fonts/PTS75F-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("fonts/PTS56F-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "PT Sans";
  src: url("fonts/PTS76F-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
html {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  --font-scale: 1.2;
}

h6 {
  font-size: 16px;
  margin: 0.84rem 0;
}

h5 {
  font-size: calc(16px * var(--font-scale));
  margin: 1.008rem 0;
}

h4 {
  font-size: calc(16px * var(--font-scale) * var(--font-scale));
  margin: 1.2096rem 0;
}

h3 {
  font-size: calc(16px * var(--font-scale) * var(--font-scale) * var(--font-scale));
  margin: 1.45152rem 0;
}

h2 {
  font-size: calc(16px * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale));
  margin: 1.741824rem 0;
}

h1 {
  font-size: calc(16px * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale));
  margin: 2.0901888rem 0;
}

@media (min-width: 960px) {
  html {
    --font-scale: 1.333;
  }
}
code, pre {
  padding: 0.2em 0.4em;
  font-size: 0.85em;
  border-radius: 3px;
}

pre {
  padding: 0.7em;
  max-width: 100%;
  overflow-x: auto;
}

a:link,
a:visited {
  text-decoration-line: underline;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.text-lead {
  font-size: 1.5em;
}

.text-large {
  font-size: 1.5em;
}

.text-small {
  font-size: 0.75em;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.gridbox, .gridbox-gapless {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2rem 2rem;
  gap: 2rem 2rem;
}

.gridbox-gapless {
  grid-gap: 0 0;
  gap: 0 0;
}

[class*=colspan-] {
  grid-column: span var(--width, 6);
}

.colspan-1 {
  --width: 1;
}

.colspan-2 {
  --width: 2;
}

.colspan-3 {
  --width: 3;
}

.colspan-4 {
  --width: 4;
}

.colspan-5 {
  --width: 5;
}

.colspan-6 {
  --width: 6;
}

@media (min-width: 640px) {
  .colspan-m-1 {
    --width: 1;
  }

  .colspan-m-2 {
    --width: 2;
  }

  .colspan-m-3 {
    --width: 3;
  }

  .colspan-m-4 {
    --width: 4;
  }

  .colspan-m-5 {
    --width: 5;
  }

  .colspan-m-6 {
    --width: 6;
  }
}
@media (min-width: 960px) {
  .colspan-l-1 {
    --width: 1;
  }

  .colspan-l-2 {
    --width: 2;
  }

  .colspan-l-3 {
    --width: 3;
  }

  .colspan-l-4 {
    --width: 4;
  }

  .colspan-l-5 {
    --width: 5;
  }

  .colspan-l-6 {
    --width: 6;
  }
}
@media (min-width: 1200px) {
  .colspan-xl-1 {
    --width: 1;
  }

  .colspan-xl-2 {
    --width: 2;
  }

  .colspan-xl-3 {
    --width: 3;
  }

  .colspan-xl-4 {
    --width: 4;
  }

  .colspan-xl-5 {
    --width: 5;
  }

  .colspan-xl-6 {
    --width: 6;
  }
}
html {
  box-sizing: border-box;
}

html *,
html *::before,
html *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

button.button,
a.button {
  border: none;
  border-radius: 3px;
  padding: 0.25em 0.85em;
  font-size: 1.1em;
  text-decoration: none;
}
button.button:hover, button.button:active,
a.button:hover,
a.button:active {
  cursor: pointer;
}

button.button-small,
a.button-small {
  border: none;
  border-radius: 3px;
  padding: 0.2em 0.68em;
  font-size: 0.88em;
  text-decoration: none;
}
button.button-small:hover, button.button-small:active,
a.button-small:hover,
a.button-small:active {
  cursor: pointer;
}

button.button-large,
a.button-large {
  border: none;
  border-radius: 3px;
  padding: 0.3em 1.02em;
  font-size: 1.32em;
  text-decoration: none;
}
button.button-large:hover, button.button-large:active,
a.button-large:hover,
a.button-large:active {
  cursor: pointer;
}

button.button-huge,
a.button-huge {
  border: none;
  border-radius: 3px;
  padding: 0.375em 1.275em;
  font-size: 1.65em;
  text-decoration: none;
}
button.button-huge:hover, button.button-huge:active,
a.button-huge:hover,
a.button-huge:active {
  cursor: pointer;
}

button.button-primary,
a.button-primary {
  background-color: #0d6a73;
  color: #f1f3f4;
  text-shadow: 1px 1px 2px #0e0c0b;
}
button.button-primary:hover, button.button-primary:focus,
a.button-primary:hover,
a.button-primary:focus {
  background-color: #0a555c;
}
button.button-primary:active,
a.button-primary:active {
  background-color: #0f808a;
}

button.button-secondary,
a.button-secondary {
  background-color: #730d5d;
  color: #f4f1f3;
  text-shadow: 1px 1px 2px #0b0e0c;
}
button.button-secondary:hover, button.button-secondary:focus,
a.button-secondary:hover,
a.button-secondary:focus {
  background-color: #5c0a4a;
}
button.button-secondary:active,
a.button-secondary:active {
  background-color: #8a0f6f;
}

button.button-grey,
button.button-gray,
a.button-grey,
a.button-gray {
  background-color: #404040;
  color: #f2f2f2;
  text-shadow: 1px 1px 2px #0d0d0d;
}
button.button-grey:hover, button.button-grey:focus,
button.button-gray:hover,
button.button-gray:focus,
a.button-grey:hover,
a.button-grey:focus,
a.button-gray:hover,
a.button-gray:focus {
  background-color: #333333;
}
button.button-grey:active,
button.button-gray:active,
a.button-grey:active,
a.button-gray:active {
  background-color: #4d4d4d;
}

button.button-clear,
a.button-clear {
  background-color: rgba(0, 0, 0, 0);
  color: #321b2d;
  text-shadow: 1px 1px 2px #cde4d2;
  border: 1px solid rgba(50, 27, 45, 0.2);
}
button.button-clear:hover, button.button-clear:focus,
a.button-clear:hover,
a.button-clear:focus {
  background-color: rgba(0, 0, 0, 0);
}
button.button-clear:active,
a.button-clear:active {
  background-color: rgba(13, 13, 13, 0);
}

.card {
  width: fit-content;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
}
.card .card-heading {
  color: inherit;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  padding: 1.2rem 1.5rem 0.7rem;
  box-shadow: 0 1px rgba(128, 128, 128, 0.2);
}
.card .card-body {
  padding: 1.2rem 1.5rem;
}

.card-expand {
  width: 100%;
}

.container-full, .container {
  width: 100%;
  padding: 2rem;
}

.container {
  max-width: 64rem;
  margin: auto;
}

.hidden-small,
.hidden-medium,
.hidden-large {
  display: none;
}

@media (min-width: 640px) {
  .hidden-small {
    display: initial;
  }

  .shown-small {
    display: none;
  }
}
@media (min-width: 960px) {
  .hidden-small,
.hidden-medium {
    display: initial;
  }

  .shown-small,
.shown-medium {
    display: none;
  }
}
@media (min-width: 1200px) {
  .hidden-small,
.hidden-medium,
.hidden-large {
    display: initial;
  }

  .shown-small,
.shown-medium,
.shown-large {
    display: none;
  }
}
