/*
    Lattice - A Simple CSS Framework
    Written by Jack McLellan
    <<< LATTICE WEBSITE GOES HERE >>>
    https://github.com/attackfrog/lattice
*/
:root {
  --hue-fg: 313;
  --saturation-fg: 30%;
  --lightness-fg: 15%;
  --alpha-fg: 100%;
  --hue-bg: 0;
  --saturation-bg: 0;
  --lightness-bg: 100%;
  --alpha-bg: 0%;
}

html {
  color: hsla(var(--hue-fg), var(--saturation-fg), var(--lightness-fg), var(--alpha-fg));
  background-color: hsla(var(--hue-bg), var(--saturation-bg), var(--lightness-bg), var(--alpha-bg));
}

h1, h2, h3, h4, h5, h6 {
  --hue-fg: 185;
  --saturation-fg: 80%;
  --lightness-fg: 25%;
  color: hsla(var(--hue-fg), var(--saturation-fg), var(--lightness-fg), var(--alpha-fg));
  background-color: hsla(var(--hue-bg), var(--saturation-bg), var(--lightness-bg), var(--alpha-bg));
}

code, pre {
  --hue-fg: 185;
  --saturation-fg: 30%;
  --lightness-fg: 15%;
  --hue-bg: 313;
  --saturation-bg: 50%;
  --lightness-bg: 80%;
  --alpha-bg: 100%;
  color: hsla(var(--hue-fg), var(--saturation-fg), var(--lightness-fg), var(--alpha-fg));
  background-color: hsla(var(--hue-bg), var(--saturation-bg), var(--lightness-bg), var(--alpha-bg));
}

pre {
  --hue-fg: 185;
  --saturation-fg: 30%;
  --lightness-fg: 15%;
  --hue-bg: 313;
  --saturation-bg: 10%;
  --lightness-bg: 95%;
  --alpha-bg: 100%;
  color: hsla(var(--hue-fg), var(--saturation-fg), var(--lightness-fg), var(--alpha-fg));
  background-color: hsla(var(--hue-bg), var(--saturation-bg), var(--lightness-bg), var(--alpha-bg));
}

a:link {
  --hue-fg: 185;
  --saturation-fg: 80%;
  --lightness-fg: 25%;
  color: hsla(var(--hue-fg), var(--saturation-fg), var(--lightness-fg), var(--alpha-fg));
  background-color: hsla(var(--hue-bg), var(--saturation-bg), var(--lightness-bg), var(--alpha-bg));
}

a:visited {
  --hue-fg: 313;
  --saturation-fg: 80%;
  --lightness-fg: 25%;
  color: hsla(var(--hue-fg), var(--saturation-fg), var(--lightness-fg), var(--alpha-fg));
  background-color: hsla(var(--hue-bg), var(--saturation-bg), var(--lightness-bg), var(--alpha-bg));
}

.text-lead {
  --hue-fg: 313;
  --saturation-fg: 80%;
  --lightness-fg: 25%;
  color: hsla(var(--hue-fg), var(--saturation-fg), var(--lightness-fg), var(--alpha-fg));
  background-color: hsla(var(--hue-bg), var(--saturation-bg), var(--lightness-bg), var(--alpha-bg));
}

.bgcolor-primary-offwhite {
  --hue-fg: 313;
  --saturation-fg: 30%;
  --lightness-fg: 15%;
  --hue-bg: 185;
  --saturation-bg: 10%;
  --lightness-bg: 95%;
  --alpha-bg: 100%;
  color: hsla(var(--hue-fg), var(--saturation-fg), var(--lightness-fg), var(--alpha-fg));
  background-color: hsla(var(--hue-bg), var(--saturation-bg), var(--lightness-bg), var(--alpha-bg));
}

.bgcolor-primary-light {
  --hue-fg: 313;
  --saturation-fg: 30%;
  --lightness-fg: 15%;
  --hue-bg: 185;
  --saturation-bg: 50%;
  --lightness-bg: 80%;
  --alpha-bg: 100%;
  color: hsla(var(--hue-fg), var(--saturation-fg), var(--lightness-fg), var(--alpha-fg));
  background-color: hsla(var(--hue-bg), var(--saturation-bg), var(--lightness-bg), var(--alpha-bg));
}

.bgcolor-primary-bright {
  --hue-fg: 313;
  --saturation-fg: 30%;
  --lightness-fg: 15%;
  --hue-bg: 185;
  --saturation-bg: 70%;
  --lightness-bg: 50%;
  --alpha-bg: 100%;
  color: hsla(var(--hue-fg), var(--saturation-fg), var(--lightness-fg), var(--alpha-fg));
  background-color: hsla(var(--hue-bg), var(--saturation-bg), var(--lightness-bg), var(--alpha-bg));
}

.bgcolor-primary-dim {
  --hue-fg: 313;
  --saturation-fg: 10%;
  --lightness-fg: 95%;
  --hue-bg: 185;
  --saturation-bg: 80%;
  --lightness-bg: 25%;
  --alpha-bg: 100%;
  color: hsla(var(--hue-fg), var(--saturation-fg), var(--lightness-fg), var(--alpha-fg));
  background-color: hsla(var(--hue-bg), var(--saturation-bg), var(--lightness-bg), var(--alpha-bg));
}

.bgcolor-primary-dark {
  --hue-fg: 313;
  --saturation-fg: 10%;
  --lightness-fg: 95%;
  --hue-bg: 185;
  --saturation-bg: 30%;
  --lightness-bg: 15%;
  --alpha-bg: 100%;
  color: hsla(var(--hue-fg), var(--saturation-fg), var(--lightness-fg), var(--alpha-fg));
  background-color: hsla(var(--hue-bg), var(--saturation-bg), var(--lightness-bg), var(--alpha-bg));
}

.bgcolor-secondary-offwhite {
  --hue-fg: 185;
  --saturation-fg: 30%;
  --lightness-fg: 15%;
  --hue-bg: 313;
  --saturation-bg: 10%;
  --lightness-bg: 95%;
  --alpha-bg: 100%;
  color: hsla(var(--hue-fg), var(--saturation-fg), var(--lightness-fg), var(--alpha-fg));
  background-color: hsla(var(--hue-bg), var(--saturation-bg), var(--lightness-bg), var(--alpha-bg));
}

.bgcolor-secondary-light {
  --hue-fg: 185;
  --saturation-fg: 30%;
  --lightness-fg: 15%;
  --hue-bg: 313;
  --saturation-bg: 50%;
  --lightness-bg: 80%;
  --alpha-bg: 100%;
  color: hsla(var(--hue-fg), var(--saturation-fg), var(--lightness-fg), var(--alpha-fg));
  background-color: hsla(var(--hue-bg), var(--saturation-bg), var(--lightness-bg), var(--alpha-bg));
}

.bgcolor-secondary-bright {
  --hue-fg: 185;
  --saturation-fg: 30%;
  --lightness-fg: 15%;
  --hue-bg: 313;
  --saturation-bg: 70%;
  --lightness-bg: 50%;
  --alpha-bg: 100%;
  color: hsla(var(--hue-fg), var(--saturation-fg), var(--lightness-fg), var(--alpha-fg));
  background-color: hsla(var(--hue-bg), var(--saturation-bg), var(--lightness-bg), var(--alpha-bg));
}

.bgcolor-secondary-dim {
  --hue-fg: 185;
  --saturation-fg: 10%;
  --lightness-fg: 95%;
  --hue-bg: 313;
  --saturation-bg: 80%;
  --lightness-bg: 25%;
  --alpha-bg: 100%;
  color: hsla(var(--hue-fg), var(--saturation-fg), var(--lightness-fg), var(--alpha-fg));
  background-color: hsla(var(--hue-bg), var(--saturation-bg), var(--lightness-bg), var(--alpha-bg));
}

.bgcolor-secondary-dark {
  --hue-fg: 185;
  --saturation-fg: 10%;
  --lightness-fg: 95%;
  --hue-bg: 313;
  --saturation-bg: 30%;
  --lightness-bg: 15%;
  --alpha-bg: 100%;
  color: hsla(var(--hue-fg), var(--saturation-fg), var(--lightness-fg), var(--alpha-fg));
  background-color: hsla(var(--hue-bg), var(--saturation-bg), var(--lightness-bg), var(--alpha-bg));
}

.bgcolor-grey-offwhite,
.bgcolor-gray-offwhite {
  --hue-fg: 0;
  --saturation-fg: 0%;
  --lightness-fg: 15%;
  --hue-bg: 0;
  --saturation-bg: 0%;
  --lightness-bg: 95%;
  --alpha-bg: 100%;
  color: hsla(var(--hue-fg), var(--saturation-fg), var(--lightness-fg), var(--alpha-fg));
  background-color: hsla(var(--hue-bg), var(--saturation-bg), var(--lightness-bg), var(--alpha-bg));
}

.bgcolor-grey-light,
.bgcolor-gray-light {
  --hue-fg: 0;
  --saturation-fg: 0%;
  --lightness-fg: 15%;
  --hue-bg: 0;
  --saturation-bg: 0%;
  --lightness-bg: 80%;
  --alpha-bg: 100%;
  color: hsla(var(--hue-fg), var(--saturation-fg), var(--lightness-fg), var(--alpha-fg));
  background-color: hsla(var(--hue-bg), var(--saturation-bg), var(--lightness-bg), var(--alpha-bg));
}

.bgcolor-grey-bright,
.bgcolor-gray-bright {
  --hue-fg: 0;
  --saturation-fg: 0%;
  --lightness-fg: 5%;
  --hue-bg: 0;
  --saturation-bg: 0%;
  --lightness-bg: 50%;
  --alpha-bg: 100%;
  color: hsla(var(--hue-fg), var(--saturation-fg), var(--lightness-fg), var(--alpha-fg));
  background-color: hsla(var(--hue-bg), var(--saturation-bg), var(--lightness-bg), var(--alpha-bg));
}

.bgcolor-grey-dim,
.bgcolor-gray-dim {
  --hue-fg: 0;
  --saturation-fg: 0%;
  --lightness-fg: 95%;
  --hue-bg: 0;
  --saturation-bg: 0%;
  --lightness-bg: 25%;
  --alpha-bg: 100%;
  color: hsla(var(--hue-fg), var(--saturation-fg), var(--lightness-fg), var(--alpha-fg));
  background-color: hsla(var(--hue-bg), var(--saturation-bg), var(--lightness-bg), var(--alpha-bg));
}

.bgcolor-grey-dark,
.bgcolor-gray-dark {
  --hue-fg: 0;
  --saturation-fg: 0%;
  --lightness-fg: 95%;
  --hue-bg: 0;
  --saturation-bg: 0%;
  --lightness-bg: 15%;
  --alpha-bg: 100%;
  color: hsla(var(--hue-fg), var(--saturation-fg), var(--lightness-fg), var(--alpha-fg));
  background-color: hsla(var(--hue-bg), var(--saturation-bg), var(--lightness-bg), var(--alpha-bg));
}

@font-face {
  font-family: "PT Sans";
  src: url("fonts/PTS55F-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("fonts/PTS75F-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("fonts/PTS56F-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "PT Sans";
  src: url("fonts/PTS76F-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
html {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  --font-scale: 1.2;
}

h6 {
  font-size: 16px;
  margin: 0.84rem 0;
}

h5 {
  font-size: calc(16px * var(--font-scale));
  margin: 1.008rem 0;
}

h4 {
  font-size: calc(16px * var(--font-scale) * var(--font-scale));
  margin: 1.2096rem 0;
}

h3 {
  font-size: calc(16px * var(--font-scale) * var(--font-scale) * var(--font-scale));
  margin: 1.45152rem 0;
}

h2 {
  font-size: calc(16px * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale));
  margin: 1.741824rem 0;
}

h1 {
  font-size: calc(16px * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale) * var(--font-scale));
  margin: 2.0901888rem 0;
}

@media (min-width: 960px) {
  html {
    --font-scale: 1.333;
  }
}
p {
  line-height: 150%;
}

code, pre {
  padding: 0.2em 0.4em;
  font-size: 0.85em;
  border-radius: 3px;
}

pre {
  padding: 0.7em;
  max-width: 100%;
  overflow-x: auto;
}

a:link,
a:visited {
  text-decoration-line: underline;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

ul,
ol {
  padding: 0;
  margin-inline-start: 2em;
  margin-block-start: 2em;
  margin-top: 0;
}
ul li,
ol li {
  margin: 0.3em 0;
}

.text-lead {
  font-size: 1.5em;
}

.text-large {
  font-size: 1.5em;
}

.text-small {
  font-size: 0.75em;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.gridbox, .gridbox-gapless {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0 2rem;
  gap: 0 2rem;
}

.gridbox-gapless {
  grid-gap: 0 0;
  gap: 0 0;
}

[class*=colspan-] {
  grid-column: span var(--width, 6);
}

.colspan-1 {
  --width: 1;
}

.colspan-2 {
  --width: 2;
}

.colspan-3 {
  --width: 3;
}

.colspan-4 {
  --width: 4;
}

.colspan-5 {
  --width: 5;
}

.colspan-6 {
  --width: 6;
}

@media (min-width: 640px) {
  .colspan-m-1 {
    --width: 1;
  }

  .colspan-m-2 {
    --width: 2;
  }

  .colspan-m-3 {
    --width: 3;
  }

  .colspan-m-4 {
    --width: 4;
  }

  .colspan-m-5 {
    --width: 5;
  }

  .colspan-m-6 {
    --width: 6;
  }
}
@media (min-width: 960px) {
  .colspan-l-1 {
    --width: 1;
  }

  .colspan-l-2 {
    --width: 2;
  }

  .colspan-l-3 {
    --width: 3;
  }

  .colspan-l-4 {
    --width: 4;
  }

  .colspan-l-5 {
    --width: 5;
  }

  .colspan-l-6 {
    --width: 6;
  }
}
@media (min-width: 1200px) {
  .colspan-xl-1 {
    --width: 1;
  }

  .colspan-xl-2 {
    --width: 2;
  }

  .colspan-xl-3 {
    --width: 3;
  }

  .colspan-xl-4 {
    --width: 4;
  }

  .colspan-xl-5 {
    --width: 5;
  }

  .colspan-xl-6 {
    --width: 6;
  }
}
html {
  box-sizing: border-box;
}

html *,
html *::before,
html *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

hr {
  border: none;
  margin: 2rem 0;
  height: 1px;
  --hue-bg: 313;
  --saturation-bg: 80%;
  --lightness-bg: 25%;
  --alpha-bg: 100%;
  --alpha-bg: 50%;
  color: hsla(var(--hue-fg), var(--saturation-fg), var(--lightness-fg), var(--alpha-fg));
  background-color: hsla(var(--hue-bg), var(--saturation-bg), var(--lightness-bg), var(--alpha-bg));
}

button.button,
a.button {
  border: none;
  border-radius: 3px;
  padding: 0.25em 0.85em;
  font-size: 1.1em;
  text-decoration: none;
}
button.button:hover, button.button:active,
a.button:hover,
a.button:active {
  cursor: pointer;
}

button.button-small,
a.button-small {
  border: none;
  border-radius: 3px;
  padding: 0.2em 0.68em;
  font-size: 0.88em;
  text-decoration: none;
}
button.button-small:hover, button.button-small:active,
a.button-small:hover,
a.button-small:active {
  cursor: pointer;
}

button.button-large,
a.button-large {
  border: none;
  border-radius: 3px;
  padding: 0.3em 1.02em;
  font-size: 1.32em;
  text-decoration: none;
}
button.button-large:hover, button.button-large:active,
a.button-large:hover,
a.button-large:active {
  cursor: pointer;
}

button.button-huge,
a.button-huge {
  border: none;
  border-radius: 3px;
  padding: 0.375em 1.275em;
  font-size: 1.65em;
  text-decoration: none;
}
button.button-huge:hover, button.button-huge:active,
a.button-huge:hover,
a.button-huge:active {
  cursor: pointer;
}

button.button-primary,
a.button-primary {
  --hue-fg: 185;
  --saturation-fg: 10%;
  --lightness-fg: 95%;
  --hue-bg: 185;
  --saturation-bg: 80%;
  --lightness-bg: 25%;
  --alpha-bg: 100%;
  color: hsla(var(--hue-fg), var(--saturation-fg), var(--lightness-fg), var(--alpha-fg));
  background-color: hsla(var(--hue-bg), var(--saturation-bg), var(--lightness-bg), var(--alpha-bg));
  text-shadow: 1px 1px 2px hsla(var(--hue-bg), var(--saturation-bg), 10%, var(--alpha-bg));
}
button.button-primary:hover, button.button-primary:focus,
a.button-primary:hover,
a.button-primary:focus {
  --lightness-bg: 20%;
}
button.button-primary:active,
a.button-primary:active {
  --lightness-bg: 30%;
}

button.button-secondary,
a.button-secondary {
  --hue-fg: 313;
  --saturation-fg: 10%;
  --lightness-fg: 95%;
  --hue-bg: 313;
  --saturation-bg: 80%;
  --lightness-bg: 25%;
  --alpha-bg: 100%;
  color: hsla(var(--hue-fg), var(--saturation-fg), var(--lightness-fg), var(--alpha-fg));
  background-color: hsla(var(--hue-bg), var(--saturation-bg), var(--lightness-bg), var(--alpha-bg));
  text-shadow: 1px 1px 2px hsla(var(--hue-bg), var(--saturation-bg), 10%, var(--alpha-bg));
}
button.button-secondary:hover, button.button-secondary:focus,
a.button-secondary:hover,
a.button-secondary:focus {
  --lightness-bg: 20%;
}
button.button-secondary:active,
a.button-secondary:active {
  --lightness-bg: 30%;
}

button.button-grey,
button.button-gray,
a.button-grey,
a.button-gray {
  --hue-fg: 0;
  --saturation-fg: 0%;
  --lightness-fg: 95%;
  --hue-bg: 0;
  --saturation-bg: 0%;
  --lightness-bg: 25%;
  --alpha-bg: 100%;
  color: hsla(var(--hue-fg), var(--saturation-fg), var(--lightness-fg), var(--alpha-fg));
  background-color: hsla(var(--hue-bg), var(--saturation-bg), var(--lightness-bg), var(--alpha-bg));
  text-shadow: 1px 1px 2px hsla(var(--hue-bg), var(--saturation-bg), 10%, var(--alpha-bg));
}
button.button-grey:hover, button.button-grey:focus,
button.button-gray:hover,
button.button-gray:focus,
a.button-grey:hover,
a.button-grey:focus,
a.button-gray:hover,
a.button-gray:focus {
  --lightness-bg: 20%;
}
button.button-grey:active,
button.button-gray:active,
a.button-grey:active,
a.button-gray:active {
  --lightness-bg: 30%;
}

button.button-clear,
a.button-clear {
  --hue-fg: 185;
  --saturation-fg: 80%;
  --lightness-fg: 25%;
  --hue-bg: 185;
  --saturation-bg: 10%;
  --lightness-bg: 95%;
  --alpha-bg: 100%;
  color: hsla(var(--hue-fg), var(--saturation-fg), var(--lightness-fg), var(--alpha-fg));
  background-color: hsla(var(--hue-bg), var(--saturation-bg), var(--lightness-bg), var(--alpha-bg));
  text-shadow: 1px 1px 2px hsla(var(--hue-bg), var(--saturation-bg), 10%, var(--alpha-bg));
  --hue-bg: 0;
  --saturation-bg: 10%;
  --lightness-bg: 95%;
  --alpha-bg: 100%;
  --alpha-bg: 0%;
  border: 1px solid hsla(var(--hue-fg), var(--saturation-fg), var(--lightness-fg), var(--alpha-fg));
}
button.button-clear:hover, button.button-clear:focus,
a.button-clear:hover,
a.button-clear:focus {
  --lightness-bg: 90%;
}
button.button-clear:active,
a.button-clear:active {
  --lightness-bg: 100%;
}

.card {
  width: fit-content;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
}
.card .card-heading {
  color: inherit;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  padding: 1.2rem 1.5rem 0.7rem;
  box-shadow: 0 1px rgba(128, 128, 128, 0.2);
}
.card .card-body {
  padding: 1.2rem 1.5rem;
}

.card-expand {
  width: 100%;
}

.container-full, .container {
  width: 100%;
  padding: 2rem;
}

.container {
  max-width: 64rem;
  margin: auto;
}

.hero {
  padding: 3rem;
}
.hero h1, .hero h2, .hero h3, .hero h4, .hero h5, .hero h6 {
  font-weight: normal;
}
.hero p {
  font-size: 1.7em;
}

nav.navbar .container,
nav.navbar .container-full {
  padding-top: 0;
  padding-bottom: 0;
}
nav.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
nav.navbar li {
  height: 3.5rem;
  padding: 0 2rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}
nav.navbar li:last-of-type {
  padding-right: 0;
}
nav.navbar a:link,
nav.navbar a:visited {
  font-weight: normal;
  color: inherit;
  text-decoration: none;
}
nav.navbar a:hover,
nav.navbar a:focus,
nav.navbar a:active {
  box-shadow: 0 2px;
}
nav.navbar img {
  max-height: 2.5rem;
}

nav.navbar.navbar-center ul {
  justify-content: center;
}

nav.navbar.navbar-right ul {
  justify-content: flex-end;
}

nav.navbar .fill {
  flex-grow: 10;
  padding: 0;
}

nav.navbar.navbar-nowrap ul {
  flex-wrap: nowrap;
}

.hidden-small,
.hidden-medium,
.hidden-large {
  display: none;
}

@media (min-width: 640px) {
  .hidden-small {
    display: initial;
  }

  .shown-small {
    display: none;
  }
}
@media (min-width: 960px) {
  .hidden-small,
.hidden-medium {
    display: initial;
  }

  .shown-small,
.shown-medium {
    display: none;
  }
}
@media (min-width: 1200px) {
  .hidden-small,
.hidden-medium,
.hidden-large {
    display: initial;
  }

  .shown-small,
.shown-medium,
.shown-large {
    display: none;
  }
}
