html {
    box-sizing: border-box;
}

html *,
html *::before,
html *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

hr {
    @include hr();
    @include color-bg-transparent($hue-secondary, dim, $hr-alpha);
}