// Mixins and functions for all styles and structures


// Color functions  -----------------------------------------------------------

// Color shades     - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@function color-light($hue) {
    @return hsl($hue, $saturation-light, $lightness-light);
}

@function color-bright($hue) {
    @return hsl($hue, $saturation-bright, $lightness-bright);
}

@function color-dim($hue) {
    @return hsl($hue, $saturation-dim, $lightness-dim);
}

@function color-dark($hue) {
    @return hsl($hue, $saturation-dark, $lightness-dark);
}

@function color-offwhite($hue) {
    @return hsl($hue, $saturation-offwhite, $lightness-offwhite);
}

@function color-black($hue) {
    @return hsl($hue, $saturation-black, $lightness-black);
}


// Greyscale shades - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@function color-grey-light() {
    @return hsl(0, 0, $lightness-light);
}

@function color-grey-bright() {
    @return hsl(0, 0, $lightness-bright);
}

@function color-grey-dim() {
    @return hsl(0, 0, $lightness-dim);
}

@function color-grey-dark() {
    @return hsl(0, 0, $lightness-dark);
}

@function color-grey-offwhite() {
    @return hsl(0, 0, $lightness-offwhite);
}

@function color-grey-black() {
    @return hsl(0, 0, $lightness-black);
}


// Component mixins -----------------------------------------------------------

// Button           - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin button($size) {
    border: none;
    border-radius: $button-border-radius;
    padding: ($button-padding-sides * $size) ($button-padding-topbot * $size);
    font-size: ($button-font-size * $size);
    text-decoration: none;

    &:hover,
    &:active {
        cursor: pointer;
    }
}

@mixin button-color($bgcolor, $textcolor) {
    background-color: $bgcolor;
    color: $textcolor;    
    text-shadow: 1px 1px 2px invert($textcolor);

    &:hover,
    &:focus {
        background-color: darken($bgcolor, $button-interact-shading);
    }

    &:active {
        background-color: lighten($bgcolor, $button-interact-shading);
    }
}

// Card             - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin card() {
    width: fit-content;
    margin: $card-margin;
    border-radius: $card-border-radius;
    box-shadow: $card-shadow;
}

@mixin card-heading() {
    color: inherit;
    font-size: $card-heading-font-size;
    font-weight: $card-heading-font-weight;
    margin: 0;
    padding: $card-padding $card-heading-padding-bottom;
    box-shadow: $card-heading-shadow;
}

@mixin card-body() {
    padding: $card-padding;
}

// Navbar           - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin navbar() {
    .container,
    .container-full {
        padding-top: 0;
        padding-bottom: 0;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

    li {
        height: $navbar-height;
        padding: 0 $navbar-item-spacing 0 0;
        // vertically center content
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: $navbar-text-font-weight;
    }

    li:last-of-type {
        padding-right: 0;
    }

    a:link,
    a:visited {
        font-weight: $navbar-link-font-weight;
        color: inherit;
        text-decoration: none;
    }

    a:hover,
    a:focus,
    a:active {
        box-shadow: 0 $navbar-link-underline-thickness;
    }

    img {
        max-height: $navbar-image-max-height;
    }
}

// align all nav items (right or center)
@mixin nav-align($align) {
    @if $align == right {
        $align: flex-end;
    }

    ul {
        justify-content: $align;
    }
}

// special divider to right-justify items that follow it
@mixin nav-fill() {
    flex-grow: 10;
    padding: 0;
}

// don't wrap the navbar on small screen sizes
@mixin nav-nowrap() {
    ul {
        flex-wrap: nowrap;
    }
}

// Miscellaneous    -----------------------------------------------------------

@mixin hr($color) {
    border: none;
    margin: $hr-margin;
    height: $hr-thickness;
    background-color: transparentize($color, $hr-transparency);
}
