// Lattice's font choice is Source Sans Pro by Adobe 
// (Obtained via Font Squirrel: https://www.fontsquirrel.com/fonts/source-sans-pro)

@font-face {
    font-family: 'PT Sans';
    src: url('fonts/PTS55F-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('fonts/PTS75F-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('fonts/PTS56F-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('fonts/PTS76F-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}


// Font sizing      -----------------------------------------------------------

html {
    font-family: $font-family;
    font-size: $font-size-base;
    --font-scale: #{$font-scale-ratio-small};
}

// Headers increase in size exponentially according to the font scale
h6 {
    font-size: $font-size-base;
    margin: (0.7rem * $font-spacing-ratio) 0;
}

h5 {
    font-size: calc(#{$font-size-base} * var(--font-scale));
    margin: (0.7rem * $font-spacing-ratio * $font-spacing-ratio) 0;
}

h4 {
    font-size: calc(#{$font-size-base} * var(--font-scale) 
        * var(--font-scale));
    margin: (0.7rem * $font-spacing-ratio * $font-spacing-ratio 
        * $font-spacing-ratio) 0;
}

h3 {
    font-size: calc(#{$font-size-base} * var(--font-scale) 
        * var(--font-scale) * var(--font-scale));
    margin: (0.7rem * $font-spacing-ratio * $font-spacing-ratio 
        * $font-spacing-ratio * $font-spacing-ratio) 0;
}

h2 {
    font-size: calc(#{$font-size-base} * var(--font-scale) 
        * var(--font-scale) * var(--font-scale) * var(--font-scale));
    margin: (0.7rem * $font-spacing-ratio * $font-spacing-ratio 
        * $font-spacing-ratio * $font-spacing-ratio * $font-spacing-ratio) 0;
}

h1 {
    font-size: calc(#{$font-size-base} * var(--font-scale) 
        * var(--font-scale) * var(--font-scale) * var(--font-scale) 
        * var(--font-scale));
    margin: (0.7rem * $font-spacing-ratio * $font-spacing-ratio 
        * $font-spacing-ratio * $font-spacing-ratio * $font-spacing-ratio 
        * $font-spacing-ratio) 0;
}

// Increase the font scale for larger screens
@media (min-width: $breakpoint-medium) {
    html {
        --font-scale: #{$font-scale-ratio-large};
    }
}


// Standard element styling ---------------------------------------------------

p {
    line-height: $paragraph-line-height;
}

code {
    padding: $code-padding;
    font-size: $code-font-size;
    border-radius: $code-border-radius;
}

pre {
    @extend code;
    padding: $pre-padding;
    max-width: 100%;
    overflow-x: auto;
}

a:link,
a:visited {
    text-decoration-line: underline;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
}

ul,
ol {
    padding: 0;
    // handle right-to-left text, maybe
    margin-inline-start: $list-indent;
    margin-block-start: $list-indent;
    margin-top: 0;

    li {
        margin: $list-item-spacing 0;
    }
}


// Text styles      -----------------------------------------------------------

.text-lead {            // this style is also colored in _color.scss
    font-size: $font-size-large;
}

.text-large {
    font-size: $font-size-large;
}

.text-small {
    font-size: $font-size-small;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.text-shadow-dark {
    text-shadow: 2px 2px 2px hsla(var(--hue-bg), var(--saturation-bg), 
        10%, 90%);
}

.text-shadow-light {
    text-shadow: 2px 2px 2px hsla(var(--hue-bg), var(--saturation-bg), 
        90%, 90%);
}
