// Common Values    -----------------------------------------------------------

$border-radius: 3px;

// Page Layout      -----------------------------------------------------------

$grid-columns: 6;
$grid-gap-cols: 2rem;   // gap between columns
$grid-gap-rows: 0;      // gap between rows

$container-width: 64rem;
$container-padding: $grid-gap-cols;

// The breakpoint values below are taken from UIkit 3
$breakpoint-small: 640px;   // Phone landscape
$breakpoint-medium: 960px;  // Tablet landscape
$breakpoint-large: 1200px;  // Desktop


// Type Styling     -----------------------------------------------------------

$font-family: 'PT Sans', sans-serif;
$font-size-base: 16px;
$font-scale-ratio-large: 1.333; // for large screens (above medium breakpoint)
$font-scale-ratio-small: 1.2;   // for small screens (below medium breakpoint)
$font-spacing-ratio: 1.2;

$paragraph-line-height: 150%;

$code-font-size: 0.85em;
$code-border-radius: $border-radius;
$code-padding: 0.2em 0.4em;
$pre-padding: 0.7em;

$list-indent: 2em;
$list-item-spacing: 0.3em;

$font-size-large: 1.5em;
$font-size-small: 0.75em;

$text-shadow-dark: 2px 2px 2px 
    hsla(var(--hue-bg), var(--saturation-bg), 10%, 90%);
$text-shadow-light: 2px 2px 2px 
    hsla(var(--hue-bg), var(--saturation-bg), 90%, 90%);


// Colors           -----------------------------------------------------------

$hue-primary: 185;  // (Values 0-255 for hsl)
$hue-secondary: $hue-primary + 128; // (the complement of the primary color)

$saturation: (
    offwhite: 10%,
    light: 50%,
    bright: 70%,
    dim: 80%,
    dark: 30%,
    black: 50%,
    offwhite-grey: 0%,
    light-grey: 0%,
    bright-grey: 0%,
    dim-grey: 0%,
    dark-grey: 0%,
    black-grey: 0%,
);

$lightness: (
    offwhite: 95%,
    light: 80%,
    bright: 50%,
    dim: 25%,
    dark: 15%,
    black: 5%,
    offwhite-grey: 95%,
    light-grey: 80%,
    bright-grey: 50%,
    dim-grey: 25%,
    dark-grey: 15%,
    black-grey: 5%,
);

$alpha-standard: 100%;


// Components       -----------------------------------------------------------

// Button

$button-border-radius: $border-radius;
$button-padding-sides: 0.25em;
$button-padding-topbot: 0.85em;
$button-font-size: 1.1em;
$button-interact-shading: 5%;
$button-text-shadow: 1px 1px 2px hsla(0%, 0%, 10%, 75%);

$button-scale: 1;
$button-scale-small: 0.8;
$button-scale-large: 1.2;
$button-scale-huge: 1.5;

$button-hue-primary: $hue-primary;
$button-hue-secondary: $hue-secondary;
$button-hue-clear: $hue-secondary;

// Card

$card-margin: 1rem;
$card-padding: 1.2rem 1.5rem;
$card-border-radius: $border-radius;
$card-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.2);

$card-heading-font-size: 1.2em;
$card-heading-font-weight: bold;
$card-heading-padding-bottom: 0.7rem;
$card-heading-shadow: 0 1px rgba(128, 128, 128, 0.2);

// Hero

$hero-padding: 3rem;
$hero-heading-font-weight: normal;
$hero-paragraph-font-size: 1.7em;
$hero-paragraph-alpha: 80%;

$hero-transparent-alpha: 70%;

// Navbar

$navbar-height: 3.5rem;
$navbar-item-spacing: 2rem;
$navbar-text-font-weight: bold;
$navbar-link-font-weight: normal;
$navbar-link-underline-thickness: 2px;
$navbar-image-max-height: $navbar-height - 1rem;


// Miscellaneous    -----------------------------------------------------------

$hr-thickness: 1px;
$hr-alpha: 50%;
$hr-margin: 2rem 0;
