// Page Layout      -----------------------------------------------------------

$grid-columns: 6;
$grid-gap-cols: 2rem;           // gap between columns
$grid-gap-rows: $grid-gap-cols; // gap between rows

$container-width: 64rem;
$container-padding: $grid-gap-cols;

// The breakpoint values below are taken from UIkit 3
$breakpoint-small: 640px;   // Phone landscape
$breakpoint-medium: 960px;  // Tablet landscape
$breakpoint-large: 1200px;  // Desktop


// Type Styling     -----------------------------------------------------------

$font-family: 'PT Sans', sans-serif;
$base-font-size: 16px;
$font-scale-ratio-large: 1.333; // for large screens (above medium breakpoint)
$font-scale-ratio-small: 1.2;   // for small screens (below medium breakpoint)
$font-spacing-ratio: 1.2;
$code-border-radius: 3px;


// Colors           -----------------------------------------------------------

$hue-primary: 185;  // (Values 0-255 for hsl)
$hue-secondary: $hue-primary + 128; // (the complement of the primary color)

$saturation-light: 50%;
$lightness-light: 80%;

$saturation-bright: 80%;
$lightness-bright: 50%;

$saturation-dim: 80%;
$lightness-dim: 25%;

$saturation-dark: 30%;
$lightness-dark: 15%;

$saturation-offwhite: 10%;
$lightness-offwhite: 95%;

$saturation-black: 50%;
$lightness-black: 5%;


// Components       -----------------------------------------------------------

$button-border-radius: 3px;