// A container for page content

.container-full {
    width: 100%;
    padding: $container-padding;
}

.container {
    @extend .container-full;
    max-width: $container-width;
    margin: auto;
}

.container-centered {
    @extend .container-full;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
